@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.MuiToggleButton-root:active {
  color: #fff;
}

.MuiTypography-gutterBottom {
  margin-bottom: 1.2em !important;
}

.MuiCardMedia-img {
  transition: transform 0.3s ease-out;
  backface-visibility: hidden;
}

.MuiCardMedia-img:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 960px) {
  .MuiGrid-item {
    display: flex;
    justify-content: center;
  }

  #card {
    max-width: 400px;
  }
}

.avatar {
  margin-left: 1rem;
}
